<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
  </head>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
 <body ng-app="meetUpPlannerApp" ng-controller="MainCtrl as main">

    <!-- Container #1 (see wireframe) -->
    <md-toolbar ng-cloak>
    <div class="md-toolbar-tools">
      <h2 style="cursor:pointer" ng-click="main.goToHome()">
        <span>MeetUp Planner</span>
      </h2>
      <span flex></span>
      <md-menu md-position-mode="target-right target" ng-show="main.user.loggedIn">
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu($event)" >
          {{main.user.data.firstName}}
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="main.logout()">
                  <p flex>Logout</p>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    </md-toolbar>
    <div ng-view=""></div>

  </body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzEVkOjMHW67M6NbgA5nm2F41dxM0-Uto&signed_in=true&libraries=places"></script>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/satellizer/satellizer.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/services/navigation.js"></script>
        <script src="scripts/services/user.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/signup.js"></script>
        <script src="scripts/controllers/event.js"></script>
        <!-- endbuild -->
</body>
</html>
