<h1>
Create an Event
</h1>
<div class="md-inline-form">
<form>
  <md-input-container class="md-block">
    <label for="eventName">Name</label>
    <input type="text" name="eventName" id="eventName" ng-model= "eventName" required>
    </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Type</label>
        <md-select ng-model="type">
          <md-option ng-repeat="type in types" value="{{type}}">
            {{type}}
          </md-option>
        </md-select>
      </md-input-container>
    <md-input-container class="md-block">
    <label for="eventHost">Host</label>
    <input type="text" name="eventHost" id="eventHost" ng-model= "eventHost">
  </md-input-container>
  <div layout-gt-xs="row">
    <md-datepicker ng-model="startDate" md-min-date="minDate" md-max-date="endDate" class="md-block" md-placeholder="Start Date">
    </md-datepicker>
    <md-input-container class="md-block">
      <label for="startTime">Start Time</label>
      <input type="time" name="startTime" id="startTime" ng-model= "startTime" required>
    </md-input-container>
    <md-datepicker ng-model="endDate" md-min-date="startDate" md-placeholder="End Date"></md-datepicker>
     <md-input-container class="md-block">
      <label for="endTime">End Time</label>
      <input type="time" name="endTime" id="endTime" ng-model="endTime" required>
    </md-input-container>
   </div>
   <md-chips ng-model="guests" name="guest" readonly="false" placeholder="Add a Guest and hit Enter" secondary-placeholder="Add more Guests">
     <md-chip-template>
       <strong>{{$chip}}</strong>
     </md-chip-template>
   </md-chips>
  <md-button class="md-primary md-raised" aria-label="Create Event">Create Event</md-button>
</form>
</div>
