<h1>
Create an Event
</h1>
<form>
	<label for="eventName">Name
		<input type="text" name="eventName" id="eventName" ng-model= "eventName">
	</label>
	<label for="eventType">Type
		<input list="browsers" name="eventType" id="eventType">
	</label>
	<datalist id="browsers">
	  <option value="Internet Explorer">
	  <option value="Firefox">
	  <option value="Chrome">
	  <option value="Opera">
	  <option value="Safari">
	</datalist>
	<label for="eventHost">Host
		<input type="text" name="eventHost" id="eventHost" ng-model= "eventHost">
	</label>
	<label for="eventStart"> Start
		<input type="month" name="eventStart" id="eventStart" ng-model= "eventStart">
	</label>
	<label for="eventEnd">End
		<input type="number" name="eventEnd" id="eventEnd" ng-model= "eventEnd">
	</label>
	<button>Genializar </button>
</form>
