<h3>
Create an Event
</h3>
<div class="md-inline-form">
<form id="eventForm" name="eventForm">
  <div layout-gt-xs="row">
    <md-input-container flex-gt-xs class="md-block">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" ng-model="event.name" required maxlength="50" focus-if="true" placeholder="{{event.user.data.firstName + '\'s Graduation'}}">
      <div ng-messages="eventForm.name.$error">
        <div ng-message="required">Whats the name for your event?</div>
        <div ng-message="maxlength">Name should be shorter(50 max)</div>
      </div>
    </md-input-container>
    <md-input-container flex-gt-xs class="md-block">
      <label for="host">Host</label>
      <input type="text" name="host" id="host" ng-model="event.host" required maxlength="30" placeholder="{{event.user.data.name}}">
      <div ng-messages="eventForm.host.$error">
        <div ng-message="required">Who is hosting the Event?</div>
        <div ng-message="maxlength">Host should be shorter(30 max)</div>
      </div>
    </md-input-container>
  </div>
  <div layout-gt-xs="row">
    <md-input-container flex-gt-xs class="md-block">
      <label for="type">Type</label>
      <md-select name="type" id="type" ng-model="event.type" required aria-label="Type">
        <md-option ng-repeat="type in event.types" value="{{type.display}}">
        {{type.display}}
        </md-option>
      </md-select>
      <div ng-messages="eventForm.type.$error">
        <div ng-message="required">Whats your event about?</div>
      </div>
    </md-input-container>
    <md-input-container flex-gt-xs class="md-block">
      <label for="location">Location</label>
      <input type="text" name="location" id="location" ng-model="event.location" googleplace placeholder="Hotel Honduras Maya" required>
      <div ng-messages="eventForm.location.$error">
        <div ng-message="required">Where are you hosting your event?</div>
      </div>
    </md-input-container>
  </div>
  <div layout="row">
    <md-input-container flex-gt-xs flex-xs="60">
      <label for="startDate">Start Date</label>
      <input type="date" name="startDate" id="startDate" ng-model="event.startDate" required ng-blur="event.manageDate()" min="{{event.minDate | date:'yyyy-MM-dd'}}"
      max="{{event.endDate | date:'yyyy-MM-dd'}}||''" placeholder="">
      <div ng-messages="eventForm.startDate.$error">
        <div ng-message="required">What day does the event start?</div>
        <div ng-message="min">Event can't start before today</div>
        <div ng-message="max">Event should start before it ends</div>
      </div>
    </md-input-container>
    <md-input-container flex-gt-xs flex-xs="40">
      <label for="startTime">Start Time</label>
      <input type="time" name="startTime" id="startTime" ng-model="event.startTime" required ng-blur="event.manageTime()" placeholder="">
      <div ng-messages="eventForm.startTime.$error">
        <div ng-message="required">What time does the event start?</div>
        <div ng-message="max">Event should start before it ends</div>
      </div>
    </md-input-container>
  </div>
  <div layout="row" flex>
    <md-input-container flex-gt-xs flex-xs="60">
      <label for="endDate">End Date</label>
      <input type="date" name="endDate" id="endDate" ng-model="event.endDate" required ng-blur="event.manageDate()" min="{{event.startDate | date:'yyyy-MM-dd'}}" placeholder="">
      <div ng-messages="eventForm.endDate.$error">
        <div ng-message="required">What day does the event start?</div>
        <div ng-message="max">Event should start before it ends</div>
        <div ng-message="min">Event can't start before today</div>
      </div>
    </md-input-container>
    <md-input-container flex-gt-xs flex-xs="40">
      <label for="endTime">End Time</label>
      <input type="time" name="endTime" id="endTime" ng-model="event.endTime" required ng-blur="event.manageTime()" placeholder="">
      <div ng-messages="eventForm.endTime.$error">
        <div ng-message="required">What time does the event end?</div>
        <div ng-message="min">Event should end after it starts</div>
      </div>
    </md-input-container>
   </div>
   <div class="md-block md-input-has-placeholder">

   </div>
    <div layout-gt-xs="row">
    <md-input-container class="md-block" flex-gt-xs>
      <label for="guest">Guests</label>
       <md-chips ng-model="event.guests" readonly="false" class="md-block" require>
          <input type="text" ng-model="ctrl.numberBuffer" placeholder="Enter a guest" name="guest" id="guest"  aria-label="Guests">
      </md-chips>
      <div ng-messages="eventForm.guests.$error">
        <div ng-message="required">What time does the event end?</div>
      </div>
    </md-input-container>
   </div>
   <br>
   <div layout-gt-xs="row">
    <md-input-container class="md-block" flex-gt-xs>
      <label for="description">Description</label>
      <input type="text" name="description" id="description" ng-model="event.description" ng-maxlength="150" placeholder="Awesome Graduation as a Senior Web Developer">
      <div ng-messages="eventForm.description.$error">
        <div ng-message="ng-maxlength">Message should be shorter (150 max)</div>
      </div>
    </md-input-container>
  </div>
</form>
<md-button class="md-raised md-primary" aria-label="Create Event" ng-click="event.createEvent()">Create Event</md-button>
<md-button class="md-raised" aria-label="Cancel" ng-click="event.cancelEvent()">Cancel</md-button>
</div>

