<div>
  <h1>Register</h1>
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    Sign In
  </fb:login-button>    
  <form id="register" name="register">
    <label for="usremail">
    Email
      <input type="email" id="usremail" ng-model="usremail" required="true">
    </label>
    <label for="usrname">
    Name
    <input type="text" id="usrname" ng-model="usrname" required="true">
    </label>
    <label for="password">
      Password
      <input type="password" id="password" required="true" ng-change="validatePassword()" ng-model="password">
    </label>
    <label for="checkpassword">
      Password
      <input type="password" id="checkpassword" required="true">
    </label>
    <button ng-click="actRegister('No era nada, era algo')">{{btnRegister}}</button>
    {{usremail}}
  </form>  
</div>
