<div>
  <h1>Register</h1>
  </fb:login-button>    
  <form id="register" name="register">
    <label for="usremail">
    Email
      <input type="email" id="usremail" ng-model="usremail" required="true">
    </label>
    <label for="usrname">
    Name
    <input type="text" id="usrname" ng-model="usrname" required="true">
    </label>
    <label for="password">
      Password
      <input type="password" id="password" required="true" ng-change="validatePassword()" ng-model="password">
    </label>
    <label for="checkpassword">
      Validate Password
      <input type="password" id="checkpassword" required="true">
    </label>
    <button ng-click="actRegister">{{btnRegister}}</button>    
  </form>  
</div>


<button ng-click="authenticate('facebook')">Sign in with Facebook</button>

<button ng-click="authenticate('google')">Sign in with Google</button>